<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Signup Page</h1>
    <form action="/user" method="post">
      <label>Full name</label>
      <input type="text" required name="name" />
      <label>Email</label>
      <input type="text" required name="email" />
      <label>Password</label>
      <input type="text" required name="password" />
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
